@import"header";
@import"nominationFestival";
@import"footer";
@import"section-characters";


@keyframes fadin{
			from{	
				opacity: 0;
			}
			to{	
				opacity: 1;
			}
}
@keyframes animHautBas {
			0% {
			transform: translateY(80px);
			opacity: 0;
			}
			100% {
			transform: translateY(0);
			opacity: 1;
			}
}
@keyframes animateHautvideo{
			0% {
			transform: translateY(-200px);
			opacity: 0;
			}
			100% {
			transform: translateY(0);
			opacity: 1;
			}
}
@keyframes flottement {
			0% {
	 		 transform: translateY(0px);
			}
			50% {
			transform: translateY(25px);
			}
			100% {
			transform: translateY(0px);
			}
}
@keyframes rotate-flower {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(360deg);
			}
}

// FADE IN SUR LA PAGE
#page{
	animation: fadin 4s;
}
// vidéo avec Logo animé 
.banner{
	background-image: none;
	margin-bottom:140px;
	.logo{
		position:sticky;
		top:140px;
		z-index: 2;	
		animation: animHautBas 4s;
		animation: flottement 3000ms ease-in-out 2000ms infinite;
	}	
}

#background-video {
	position:absolute;
	max-width: 1440px;
		width: 100% !important;
		height: auto !important;
		top: 80px;
	  	z-index:-2;
		animation: animateHautvideo 2s 300ms both;
		opacity: 1;
}		

#background-image{
	width: 1440px;
	position:absolute;
	z-index: 1;
	animation: animateHautvideo 2s 300ms both;
	opacity: 1;
}
		
#story{
	position: relative;
	&.scroll{
		animation: animHautBas 4s;
		animation-fill-mode: both;
	}
}
.h2Histoire.scroll{
	animation: animHautBas 2s;
	animation-fill-mode: both;
	display: block;
}

.lesPersonnagesH3{
	width: 15em;
	position: absolute;
	left: 4px;
	&.scroll {
		animation: animHautBas 2s;
		animation-fill-mode: both;
		display: block;
		}
}		

  // changement d'image section "lieu" pour nuages
.story #place{
	position: relative;
	background-image: url("./images/Studio_Koukaki-image_place.png");
}
	.story #place.scroll{
		animation: animHautBas 4s;
	}
	.lieuH3.scroll {
		animation: animHautBas 2s;
		animation-fill-mode: both;
		display: block;
	}
	#place .bigCloud,
	#place .littleCloud {
	    position:absolute;
	    filter: blur(16.5px);
        z-index: 2;
	}
	.bigCloud {
	  height: 122px;	
	  top: 70px;
	  right: 180px;
	}
	#place .littleCloud {
	  height: 55px;	
	  top: 250px;
	  right: 500px;
	}
#studio.scroll{
	animation: animHautBas 4s;
	animation-fill-mode: both;
}
	.h2Studio{	
		opacity: 0;
	}
	.h2Studio.scroll{
		animation: animHautBas 2s;
		animation-fill-mode: both;
		display: block;
	}

//ROTATION FLEURS
::after{  
	animation-duration: 8s;
	animation-name:  rotate-flower;
	animation-iteration-count: infinite;
	animation-timing-function: linear;	
}

// Centrage axe des fleurs
// méthode1 donner taille carré box-parent
.story h2::after{
	height: 154px;
}  
// méthode2 déplacer l'axe de rotation vers centre de la fleur
#studio{
    & h2::after{
	transform-origin: 50% 53px;
    } 

    & h2::before{  
	height:191px;
	position: absolute;	 
	animation-duration: 8s;
	animation-name:  rotate-flower;
	animation-iteration-count: infinite;
	animation-timing-function: linear;	
	}
}

.site-footer{	
	&::after{
		height: 161px;
  	}
 		& ul::after{
			height: 646px;
  		}

	&::before{  
		height:154px;
		position: absolute;	 
		animation-duration: 8s;
		animation-name:  rotate-flower;
		animation-iteration-count: infinite;
		animation-timing-function: linear;		
	}
}	
//   --------------------------------------------------------------------------

 /* Masquer la vidéo et afficher l'image de fallback sur mobile */
  @media screen and (max-width: 768px) {
    
    video {
        display: none;
		width: 100% !important;
		height: auto !important;
    }
	.logo{
        display: block; 
	right: 30%;
	}
	.banner{
	background-image: url("images/banner.png");
	width: 100% !important;
	height: auto !important;
	}
	.menu{
		height: 93px;
	}
	.menuImg7{
		top:655px;
	}
	.menuImg2, .menuImg3, .menuImg4, .menuImg6{
		display: none;
	}
	span.text{
		font-size: 0.7em;
	}
	.titreMenu{
		font-size: 4vw;
		padding-left: 22px;
	}
 	.lesPersonnagesH3{
		font-size: 6vw;
		text-align: center;
	}
	#nomination::after {
		display: none;
	}
	.sidenav.active{
		text-align: center;
	}
 }
  @media screen and (max-width: 1280px) {
   	.logo{
        display: block; 
	right: 20%;
	}
}