@import"nominationFestival";
@import"header";
@import"footer";


// FADE IN SUR LA PAGE
#page{
	animation: fadin 4s;
	@keyframes fadin{
	from{	
		opacity: 0;
	}
	to{	
		opacity: 1;
	}
}
}
.banner{
	background-image: none;
}

#background-video {
	width: 1440px;
	position:absolute;
	z-index: 1;
animation: animateHautvideo 2s 300ms both;
opacity: 1;
  }
@keyframes animateHautvideo{
	0% {
	  transform: translateY(-200px);
	  opacity: 0;
	}
	100% {
	  transform: translateY(0);
	  opacity: 1;
	}
  }

.logo{
	z-index: 2;	
	animation: animHautBas 2s;
}
	
.lieuH3{
	position: relative;
	
}

.lieuH3.scroll {
	animation: animHautBas 2s;
	animation-fill-mode: both;
	display: block;
}
@keyframes animHautBas {
	0% {
	  transform: translateY(80px);
	  opacity: 0;
	}
	100% {
	  transform: translateY(0);
	  opacity: 1;
	}
  }
#story{
	position: relative;
	}

#story.scroll{
	animation: animHautBas 4s;
	animation-fill-mode: both;
		 }
 @keyframes animHautBas {
	0% {
	  transform: translateY(300px);
	  opacity: 0;
	}
	100% {
	  transform: translateY(0);
	  opacity: 1;
	}
  }

.h2Histoire.scroll{
	animation: animHautBas 2s;
	animation-fill-mode: both;
	display: block;
}
@keyframes animHautBas {
	0% {
	  transform: translateY(80px);
	  opacity: 0;
	}
	100% {
	  transform: translateY(0);
	  opacity: 1;
	}
  }
  // changement d'image section "lieu" pour nuages
.story #place{
	background-image: url("./images/Studio_Koukaki-image_place.png");
	// opacity: 0 ;
  }
.story #place.scroll{
		animation: animHautBas 4s;
		// animation-fill-mode: both;
	
			}
	@keyframes animHautBas {
		0% {
		  transform: translateY(600px);
		  opacity: 0;
		}
		100% {
		  transform: translateY(0);
		  opacity: 1;
		}
	  }

#studio.scroll{
	animation: animHautBas 4s;
	animation-fill-mode: both;
	 }
 @keyframes animHautBas {
	0% {
	  transform: translateY(600px);
	  opacity: 0;
	}
	100% {
	  transform: translateY(0);
	  opacity: 1;
	}
  }
  .h2Studio{	
	opacity: 0;
	}
.h2Studio.scroll{
	animation: animHautBas 2s;
	animation-fill-mode: both;
	display: block;
}
@keyframes animHautBas {
	0% {
	  transform: translateY(80px);
	  opacity: 0;
	}
	100% {
	  transform: translateY(0);
	  opacity: 1;
	}
  }

	

// ROTATION FLEUR
::after{  
	position: absolute;	 
	animation-duration: 8s;
	animation-name:  rotate-flower;
	animation-iteration-count: infinite;
	animation-timing-function: linear;	
	}

// centrage axe des fleurs
// méthode1 donner taille carré box-parent
  .story h2::after{
	height: 154px;
  }  
//   méthode2 déplacer axe de rotation vers centre de la fleur
#studio h2::after{
	transform-origin: 50% 53px;
  } 

#studio h2::before{  
	height:191px;
	position: absolute;	 
	animation-duration: 8s;
	animation-name:  rotate-flower;
	animation-iteration-count: infinite;
	animation-timing-function: linear;	
}

.site-footer{	
	overflow:inherit;// Evite le tronquage de l'image orchidée à droite
	.site-footer::after{
	height: 161px;
  }
  .site-footer ul::after{
	height: 646px;
  }
  }
  .site-footer::before{  
	height:154px;
	position: absolute;	 
	animation-duration: 8s;
	animation-name:  rotate-flower;
	animation-iteration-count: infinite;
	animation-timing-function: linear;		
  }

	@keyframes rotate-flower {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(360deg);
			}
  		}
//   --------------------------------------------------------------------------

	
		
    




 /* Masquer la vidéo et afficher l'image de fallback sur mobile */
  @media screen and (max-width: 768px) {
    
    video {
        display: none;
    }

   .logo{
        display: block;        }
		
	.banner{
	background-image: url("images/banner.png");
	}
  }