@import"nominationFestival";
@import"footer";
@import"section-characters";

@keyframes fadin{
	from{	
		opacity: 0;
	}
	to{	
		opacity: 1;
	}
}
@keyframes animHautBas {
	0% {
	  transform: translateY(80px);
	  opacity: 0;
	}
	100% {
	  transform: translateY(0);
	  opacity: 1;
	}
  }
@keyframes flottement {
			0% {
	 		 transform: translateY(0px);
			}
			50% {
			transform: translateY(25px);
			}
			100% {
			transform: translateY(0px);
			}
  		}
@keyframes rotate-flower {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(360deg);
			}
  		}

// FADE IN SUR LA PAGE
#page{
	animation: fadin 4s;
}
// vidéo avec Logo animé 
.banner{
	background-image: none;
	.logo{
		position:sticky;
		top: 0px;
		z-index: 2;	
		animation: animHautBas 4s;
		animation: flottement 3000ms ease-in-out 1000ms infinite;
	}	
}

#background-video {
			width: 1440px;
			position:absolute;
			z-index: 1;
			animation: animateHautvideo 2s 300ms both;
			opacity: 1;
		}
		
#story{
	position: relative;
}
	#story.scroll{
		animation: animHautBas 4s;
		animation-fill-mode: both;
	}
	
.h2Histoire.scroll{
		animation: animHautBas 2s;
		animation-fill-mode: both;
		display: block;
}
.lesPersonnagesH3{
	width: 15em;
}	
	.lesPersonnagesH3.scroll {
		animation: animHautBas 2s;
		animation-fill-mode: both;
		display: block;
	}		

  // changement d'image section "lieu" pour nuages
.story #place{
	background-image: url("./images/Studio_Koukaki-image_place.png");
}
	.story #place.scroll{
		animation: animHautBas 4s;
		}

	.lieuH3.scroll {
		animation: animHautBas 2s;
		animation-fill-mode: both;
		display: block;
	}

#studio.scroll{
	animation: animHautBas 4s;
	animation-fill-mode: both;
	}

	.h2Studio{	
		opacity: 0;
	}
	.h2Studio.scroll{
		animation: animHautBas 2s;
		animation-fill-mode: both;
		display: block;
	}

//ROTATION FLEURS
::after{  
	animation-duration: 8s;
	animation-name:  rotate-flower;
	animation-iteration-count: infinite;
	animation-timing-function: linear;	
}

// Centrage axe des fleurs
// méthode1 donner taille carré box-parent
.story h2::after{
	height: 154px;
}  
// méthode2 déplacer l'axe de rotation vers centre de la fleur
#studio h2::after{
	transform-origin: 50% 53px;
} 

#studio h2::before{  
	height:191px;
	position: absolute;	 
	animation-duration: 8s;
	animation-name:  rotate-flower;
	animation-iteration-count: infinite;
	animation-timing-function: linear;	
}

.site-footer{	
	overflow:inherit;  // Evite le tronquage de l'image orchidée à droite
	.site-footer::after{
		height: 161px;
  	}
 		.site-footer ul::after{
			height: 646px;
  		}
}
	.site-footer::before{  
		height:154px;
		position: absolute;	 
		animation-duration: 8s;
		animation-name:  rotate-flower;
		animation-iteration-count: infinite;
		animation-timing-function: linear;		
	}

	
//   --------------------------------------------------------------------------

 /* Masquer la vidéo et afficher l'image de fallback sur mobile */
  @media screen and (max-width: 768px) {
    
    video {
        display: none;
    }

   .logo{
        display: block;        }
		
	.banner{
	background-image: url("images/banner.png");
	}
  }